
.json-pretty {
  line-height: 1.3;
  color: rgba(45,145,18,1);
  background: #fff;
}

.json-key {
    color: rgba(211,66,46,1);
}

.json-value {
    color: rgba(24,170,80,1)
}

.json-string {
    color: rgba(27,114,250,1)
}

.json-boolean {
    color: rgba(75,174,22,1);
}

.ApiMethod {
    margin: 5px;
}

.ApiMethod-header {
    padding: 5px;
    font-size: 150%;
}

.ApiMethod-desc {
    padding: 5px;
    font-size: 100%;
}

.ApiMethod-params {
    padding: 5px;
}

.ApiMethod-buttons {
    padding: 5px;
}

.ApiMethod-button {
    padding: 5px;
    background-color: rgb(63, 164, 231); /* Green */
    border: 1px solid rgb(0, 0, 0);
    color: white;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.ApiMethod-result {
    padding: 5px;
    border: solid 1px;
    background: #f1f1f1;
    min-height:100vh;
}

.ApiMethod-error {
    padding: 5px;
    border: solid 1px;
    background: #f15151;
    min-height:100vh;
}

.ApiMethod-content {
    margin-top : 10px;
}

.ApiMethod-key {
    padding: 5px;
}
