.method-selector {
    padding: 2px 5px;
    margin-left: 25px;
    border: 0px;
    /*font-size: 0.95em;*/
    font-weight: 500;
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
}

.method-selector:hover {
    background-color: rgb(233, 233, 233);
}

.method-selector > a {
    font-weight: 500;
}