.Header-body {
    background : #6d9eed;
    height : 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.Header-title {
    text-align : center;
    font-size: 300%;
    //font-family: "Lucida Console";
    font-weight: bold;
}

.Header-title {
}

.Header-authors {
    right : 0;
    position: fixed;
    top: 0;
}

.Header-selector {
}

.Header-navigation {
}

