.Header-body {
    background : #6d9eed;
    height : 100px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
    position: fixed;
    width: 100%; 
    top: 0;
}

.Header-title {
    text-align : center;
    font-size: 350%;
    //font-family: "Lucida Console";
    font-weight: bold;
}

.Header-title {
}

.Header-authors {
    right : 0;
    position: fixed;
    top: 0;
}

